---
---

body {background-color: lightblue;}

h1 {color: navy; margin-left: 20px;}

div.section {background-color: green; color: pink}

div#projects { background-color: blue; color: white;}

nav a {padding: 8px;}